body {
	background-color: #fff2cd;
}

h1 {
	text-align: center;
	color: #deac94;
}

p {
	text-align: center;
}

img {
	display: block;
	margin: auto;
}

p {
	text-align: center;
}

.links {
	display: flex;
	justify-content: space-evenly;
	color: forestgreen;
}

.links:visited {
	color: brown;
}
